@import url(../css/fonts.css);
html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root {
    /*  Theme color  */
    --text-grey: #ffffff;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    /*  gradient color  */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    /*  theme font-family  */
    --Abel: 'Abel', italic;
    --Anton: 'Anton', italic;
    --Bona_Nova: 'Bona_Nova', italic;
    --Fuggles: 'Fuggles', italic;
    --Josefin_Sans: 'Josefin_Sans', italic;
    --Livvic: 'Livvic', italic;
    --Open_Sans: 'Open_Sans', italic;
}


/*--------------Global Classes-------------*/

a {
    text-decoration: none;
    color: var(--text-grey);
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-family: var(--Bona_Nova);
    font-size: 4rem;
}

h6 {
    font-family: var(--Open_Sans);
    font-size: 2rem;
    padding: 1rem 1rem;
}

h5 {
    font-family: var(--Livvic);
    font-size: 2rem;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    cursor: pointer;
}

p {
    font-family: var(--Open_Sans);
    color: var(--text-light);
    font-size: 3.5vh;
}


/*-------x-------Global Classes------x-------*/


/*--------------navbar------------*/

.nav {
    background: url(../assets/Background-image.png);
    background-size: cover;
    padding: 1rem;
    height: 0rem;
    min-height: 120vh;
    overflow: hidden;
}

.nav h3,
h6 {
    color: #f34f4f;
    margin: .3rem;
    min-height: 0vh;
    overflow: hidden;
}

.nav h3 {
    padding: 5rem;
    margin: .3rem;
    color: white;
}

.nav h5 .btn {
    margin: 1.8rem;
    background: var(--sky);
}

.nav h5 .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}


/*--------x------navbar------x-------*/


/*---------------------Main section---------------------*/


/*-------------------Blog Carousel---------------------*/

.blog {
    background: url(../assets/Abract01.png);
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    width: 100%;
    background-size: 65%;
}

.blog-post {
    padding: 0 1rem;
}

.blog-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2)
}

.blog-title h5 {
    font-size: 1rem;
}

.btn-blog {
    padding: .7rem 2rem;
    background: var(--sky);
    margin: .5rem;
}

.btn-blog:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--black);
}

.blog-content span {
    display: block;
}

span {
    font-family: var(--Abel);
    text-align: center;
}

.owl-nav-prev i,
.owl-nav-next i {
    color: var(--text-grey);
    background: transparent;
    font-size: 2rem;
}

.owl-navigation:hover {
    background: transparent;
    color: var(--midnight);
}


/*---------x----------Blog Carousel----------x-----------*/


/*-----------------------Site Content-----------------------*/

.site-content {
    display: flex;
    grid-template-columns: 70% 30%;
    padding: 6rem;
}

.post-title {
    padding: 1rem 1rem;
    position: relative;
}

.post-title p {
    color: lightseagreen;
    padding-left: 0.1rem;
}

.post-info {
    background: var(--sky);
    padding: 0rem;
    position: static;
    bottom: 0%;
    left: 20vw;
    border-radius: 3rem;
    width: 60%;
}

.post-content {
    width: 80%;
    overflow: hidden;
}

.post-image {
    overflow: hidden;
}

.img {
    width: 80%;
    transition: all 1s ease;
}

.img:hover {
    transform: scale(1.3);
}

.post-info span {
    margin: 0.5rem;
}

.post-title a {
    font-family: var(--Anton);
    font-size: 2rem;
    color: black;
    margin-right: 20rem;
}

.post-btn {
    border-radius: 0;
    padding: .7rem 1.5rem;
    background: var(--sky);
    border-color: white;
}

.post-btn:hover {
    background: transparent;
}

.pagination {
    justify-content: center;
    color: var(--text-grey);
    margin: 4rem 0;
}

.pagination a {
    color: black;
    padding: .6rem .9rem;
    border-radius: 2rem;
    margin: 0 .3rem;
    font-family: var(--Abel);
}

.pages {
    background: var(--text-grey);
    color: var(--white);
}

.category a {
    color: black;
}

.sidebar {
    width: 40%;
}

.category h2 {
    font-size: 2rem;
}

.popular-post h2 {
    font-size: 3rem;
    padding: 0 0rem;
    color: lightseagreen;
}


/*------------X-----------Site Content----------X-------------*/


/*--------------------------Sidebar-------------------------*/

.category-list {
    font-family: var(--Abel);
}

.list-items {
    background: var(--sky);
    padding: 1rem 1rem;
    margin: .8rem 0rem;
    border-radius: 3rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.popular-post {
    padding: 0rem 7rem;
}

.post-text {
    padding: .4rem .1rem !important;
    bottom: 0rem !important;
    border-radius: 0rem !important;
    background: white !important;
}

.post-text.post-title {
    font-size: 1rem;
}

.form-btn:hover {
    background: transparent;
}

.btn.form-btn {
    padding: .5rem 2rem;
    border-radius: 0;
    margin: 1rem 0;
    font-size: 1rem;
    width: 35.9%;
    background: var(--sky);
}

.form-btn:hover {
    background: transparent;
}

.input-element {
    width: 60%;
    height: 1.9rem;
    font-size: 1rem;
}

.tag {
    background: var(--sky);
    padding: .4rem 1rem;
    border-radius: 3rem;
    margin: .5rem;
}


/*--------------x------------Sidebar------------x-------------*/


/*----------x-----------Main section----------x-----------*/


/*----------------------------Footer-----------------------------*/

.footer {
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

.footer h2,
p {
    color: white;
    padding: 0 6rem;
}

.footer p {
    font-size: 1rem;
}

.container>div {
    flex-grow: 0;
    flex-basis: 0;
}

.rights h4 {
    color: white;
    font-family: var(--Abel);
}

.move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

.move-up span {
    color: var(--midnight);
}

.move-up span:hover {
    color: var(--white);
    cursor: pointer;
}


/*---------------x-------------Footer-------------x----------------*/